
.userData-container{
    margin: 20px 0;
}
.userData-container .userData-subContainer{
    margin: 20px 0;
    border: solid #E3E3E3 thin;
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 5px 5px 15px;
}
.userData-container .userData-subContainer .title h2{
    font-size: 18px;
    text-align: center;
}

.userData-container .userHeader label{
    min-width: 80px;
}

.userData-container .userDataChart-item{
      max-width: 400px;
      margin: 0 auto;
      padding: 20px 0;
      border-bottom: solid #E3E3E3 thin;
  }
.userData-container .userDataChart-item:last-child {
    border-bottom: none;
}
.userData-container .userDataChart-item *{
    max-width: 400px;
}
.userData-container .userDataChart-item h3{
    font-size: small;
    display: block;
    text-align: center;
    margin: 5px;
}


.userData-container .userDataList{
    max-width: 600px;
    margin: 0 auto;
}

.userData-container .userDataList-item{
    padding: 5px;
    position: relative;
}
.userData-container .userDataList-item:nth-child(odd){
    background-color: #F0F0F0;
}
.userData-container .userDataList-item:nth-child(even){
    background-color: #E0E0E0;
}

.userData-container .userDataList-itemName {
    font-weight: bold;
}
.userData-container .userDataList-itemDate {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}
.userData-container .userDataList-itemAttr {
    padding-left: 20px;
}

.userData-container .userDataList-container label{
    min-width: 90px;
    color: #777;
}