<div  id="slide-with-background" class="productFinder-container">
    <div class="slide-container" >
      <div class="breadcrumb-container">
          <div class="row">
              <div class="breadcrumb main_div "  ng-repeat="action in actionStack | filter: shouldDisplayInBreadcrumb">
                <div class="innertriangle">

                </div>
                <div class="midlle">
                  <a class="active" ng-click="goBackToAction(action);">
                      {{$index+1}}.{{ ! findById(slidesList,action.slideId).hasOwnProperty("shortcut") ? findById(slidesList,action.slideId).text : findById(slidesList,action.slideId).shortcut}}
                  </a>

                  </div>
                  <div class="arrow-right"></div>
                   <div class="clear"></div>
              </div>
              <div class="breadcrumb main_div" ng-repeat="slideId in defaultPath.slice(getDisplayedActions().length)" >
                <div class="innertriangle">

                </div>
                <div class="midlle">
                  <a class="ng-class:{'not-active':!$first, 'active':$first}" >
                      {{$index+getDisplayedActions().length+1}}.{{ ! findById(slidesList,slideId).hasOwnProperty('shortcut') ? findById(slidesList,slideId).text : findById(slidesList,slideId).shortcut}}
                  </a>

                  </div>
                  <div class="arrow-right"></div>
                   <div class="clear"></div>
              </div>
          </div>
      </div>

        <div class="container-fluid slide-content {{animationSwap}}" ng-animate-swap="currentSlide" ng-hide="endOfPath">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="text-center slide-title"> {{currentSlide.text}}</h2>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2  col-md-{{currentSlide.options.length>4?12:10}} col-md-offset-{{currentSlide.options.length>4?0:1}} col-sm-12 col-sm-offset-0">
                   <div class=" col-xs-6 col-xs-offset-0 col-sm-3 col-sm-offset-0 col-md-{{gridController.getItemSize(currentSlide.options.length)}} col-md-offset-{{gridController.getItemOffSize($index,currentSlide.options.length)}} slide-thumbnail" ng-repeat="optionId in currentSlide.options" ng-init="option = findById(optionsList,optionId);" >
                      <div class="img-thumb clickable" ng-click="optionClicked(optionId)">
                          <img ng-src="{{option.img}}" class="img-container center-block img-responsive " />
                          <a class="btn btn-lg btn-block btn-thumb"  role="button">{{option.text | uppercase}}</a>
                      </div>
                  </div>
               </div>
            </div>
        </div>

        <div class="container-fluid product-content" ng-show="endOfPath">
            <div class="row">
                <h2 class="text-center slide-title-end-page"> <pre> {{endSlide.text}} </pre></h2>
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-8 col-md-offset-2 slider">
                     <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>
                </div>
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
               <div class="col-xs-8 col-xs-offset-4  col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2" style="height:330px;overflow-y:scroll;padding-left:0;">
                <div style="padding:4px;" class="col-md-4 col-sm-5 slide-thumbnail" ng-repeat="product in products|filter:inRange('price', slider.min, slider.max)">
                    <a href="{{product.link}}" style="padding:0" ng-click="productClicked(product)">
                      <div class="img-thumb-endpage">
                          <img preload-image ng-src="{{product.image}}" style="min-height:70%" class="img-container center-block img-responsive"/>
                          <div style="text-align:left;color: #7C7C7C;font-family: 'PT Sans',sans-serif; font-size:12px">
                            <span style="margin-top: 10px;height:40px;display:block;">{{product.name}}</span>
                            <!--div>{{product.brand | uppercase}}</div-->
                            <div><strong>{{product.price | currency}} €</strong></div>
                          </div>
                      </div>
                    </a>
                </div>
              </div>
            </div>
        </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
      <a class="previous-button" ng-click="previous()" ng-if="actionStack.length != 0">
          <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> ZURÜCK
      </a>
  </div>
  <div class="col-md-2 col-md-offset-4">
  </div>


    <perfect-scrollbar class="container-fluid productFeed-container scrollbar-always-visible" opts="productFeedContainerScrollOpts" repeat-end="onProductFeedUpdate()" update="productFeedContainerUpdate" ng-if="productFeed.length != 0 && showProductFeed">

        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 product-animate" ng-repeat="product in productFeed">
                <a class="thumbnail slide-thumbnail" ng-href="{{product.link}}">
                    <div class="caption">
                        {{product.name}}
                    </div>
                    <img preload-image ng-src="{{product.img}}" class="center-block img-responsive"/>
                    <div class="caption">
                        {{product.price | currency}}
                    </div>
                </a>
            </div>
        </div>
    </perfect-scrollbar>

</div>
