<div class="userDataList-itemName"><label>Event Name</label> {{item.name}}</div>
<div class="userDataList-itemDate">{{item.date| date : "M/d/yy h:mm a"}}</div>

<div class="userDataList-itemDetails" ng-show="item.timeInterval">
    <div><label>Interval</label> {{item.timeInterval}} ms</div>
    <div><label>From</label> {{item.from}}</div>
</div>

<div class="userDataList-itemDetails" ng-show="item.attr">
    <label>Attributes</label>
    <!--<a href class="close" ng-click="close()">&times;</a>
    <a href class="close" ng-click="open()">&times;</a>-->
    <div class="userDataList-itemAttr"  ng-repeat="(itemKey,itemValue) in item.attr">
        <user-event-list-item-attr datakey="itemKey" datavalue="itemValue"></user-event-list-item-attr>
    </div>
</div>