<div ng-if="isSingleAttr">
    <label>{{attrKey}}</label> <span>{{attrVal}}</span>
</div>

<div ng-if="isObjectWirhAttr">
    <label>{{attrKey}}</label>
    <div class="userDataList-itemAttr" ng-repeat="(itemKey,itemValue) in attrVal">
        <user-event-list-item-attr datakey="itemKey" datavalue="itemValue"></user-event-list-item-attr>
    </div>
</div>