<div class="userDataList">
    <div class="userDataList-item" ng-repeat="track in events.result | orderBy:-events.orderProp | limitTo:events.quantity">
        <user-event-list-item data="track"></user-event-list-item>
    </div>
</div>