
<div class="row userData-container">
    <div class="col-sm-8 col-sm-offset-2 ">

        <div class="row userData-subContainer userInfo-container">
            <div class="title">
                <h2>User Information</h2>
            </div>
            <div class="col-sm-12 userHeader">
                <div class="col-md-4 userHeader-userId">
                    <div>
                        <label>User Id</label>
                        {{user.Id}}
                    </div>
                </div>
                <div class="col-md-4 userHeader-userConnection">
                    <div>
                        <label>User Browser</label>
                        {{user.BrowserShort }}
                    </div>
                    <div>
                        <label>User Lang</label>
                        {{user.Language }}
                    </div>
                    <div>
                        <label>Platform</label>
                        {{user.Platform }}
                    </div>
                </div>
                <div class="col-md-4 userHeader-userActivity" >
                    <div>
                        <label>Login</label>
                        {{user.LoginDate | date : "M/d/yy h:mm a" }}
                    </div>
                    <div>
                        <label>Last Active</label>
                        {{user.LastActiveDate | date : "M/d/yy h:mm a"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row userData-subContainer userDataChart-container">
            <div class="title">
                <h2>Usage Charts</h2>
            </div>
            <div class="userDataChart-item" ng-show="line.isVisible">
                 <canvas id="line" class="chart chart-line" chart-data="line.data"
                         chart-labels="line.labels" chart-series="line.series">
                 </canvas>
                <h3>Option Selection Rate</h3>
             </div>
            <div class="userDataChart-item" ng-show="bar.isVisible">
            <canvas id="bar" class="chart chart-bar"
                    chart-data="bar.data" chart-labels="bar.labels" chart-series="bar.series">
            </canvas>
                <h3>Total Events Count</h3>
            </div>
            <div class="userDataChart-item" ng-show="pie.isVisible">
                <canvas id="pie" class="chart chart-pie"
                        chart-data="pie.data" chart-labels="pie.labels" chart-options="pie.options">
                </canvas>
                <h3>Time Spent Grouped by Event Name </h3>
            </div>
        </div>

        <div class="row userData-subContainer userDataList-container">
            <div class="title">
                <h2>Event List</h2>
            </div>
            <div class="col-md-12 ">
                <user-event-list data="trackDataList"></user-event-list>
            </div>
        </div>

    </div>
</div>